<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>작성페이지</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/create.css">
</head>
<body>
    <header>
        <div>
            <a href="/">Month_Test</a>
        </div>
    </header>
    <main>
        <h3>이곳은 글 작성 페이지 입니다!</h3>
        <div>
            <form class="createFrom"action="/boards/create" method="post">
                <input type="text" name="user_id" placeholder="아이디를 입력해주세요"/>
                <input type="text" name="writer" placeholder="닉네임을 입력해주세요"/>
                <input type="text" name="title" placeholder="제목을 입력해주세요"/>
                <textarea type="text" name="content" placeholder="내용을 입력해주세요"></textarea>
                <div class=" buttonArea">
                    <button type="button" onclick="location.href=`/boards`">뒤로 가기</button>
                    <button type="submit">작성 완료</button>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <div>
            <p>© 250925 @All Copyright belong to 성영</p>
        </div>
    </footer>
    <script src="/js/create.js"></script>
</body>
</html>