<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div>
            <h1>Month_Test</h1>
        </div>
    </header>
    <inner>
        <div>
            <h3>이곳은 게시판 메인 페이지 입니다!</h3>
            <button onclick="location.href =`/boards`">게시판 목록</button>
        </div>
    </inner>
    <footer>
        <div>
            <p>© 250925 @All Copyright to 성영</p>
        </div>
    </footer>
</body>
</html>