<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판페이지</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/list.css">
</head>
<body>
    <header>
        <div>
            <h1>Month_Test</h1>
        </div>
    </header>
    <main>
        <h3>이곳은 게시판 페이지 입니다!</h3>
        <div class="listArea">
            <ul>
                {% if 0 == boards.length %}
                    <h4>-아직 작성된 글이 없습니다!-</h4>
                {% endif %}
                {% for board in boards %}
                    <li>
                        <a>[ {{ board.id }} ]</a>
                        <a href="/boards/view/{{ board.user_id }}">{{ board.title }}</a>
                        <a>작성자 / {{ board.writer }}</a>
                        <a>{{ board.created_at }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="buttonArea">
            <button onclick="location.href=`/`">뒤로 가기</button>
            <button onclick="location.href=`/boards/create`">글 작성</button>
        </div>
    </main>
    <footer>
        <div>
            <p>© 250925 @All Copyright to 성영</p>
        </div>
    </footer>
</body>
</html>