<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ board.user_id }}의 상세페이지</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/view.css">
</head>
<body>
    <header>
        <div>
            <h1>Month_Test</h1>
        </div>
    </header>
    <main>
        <div class="titleArea">
            <a> {{ board.title }} / </a>
            <a> {{ board.writer }}</a>
        </div>
        <div class="contentArea">
            <p>{{ board.content }}</p>
            <p>작성된 날짜 / {{ board.created_at }}</p>
            {% if board.updated_at == " " %}
                <p>수정된 날짜 / 아직 수정되지 않았습니다.</p>
            {% else %}
                <p>수정된 날짜 /{{ board.updated_at }} </p>
            {% endif %}

        </div>
        <div class="buttonArea">
            <button type="button" onclick="location.href=`/boards`">뒤로 가기</button>
            <button type="button" onclick="location.href=`/boards/update/{{ board.user_id }}`">수정 하기</button>
            <button class="deleteBtn"type="button">삭제 하기</button>
        </div>
    </main>
    <footer>
        <div>
            <p>© 250925 @All Copyright to 성영</p>
        </div>
    </footer>
    <script src="/js/view.js"></script>
</body>
</html>