header {
    margin: 0 auto;
    background-color: #2C3E50;
    width: 100%;
    height: 60px;
}

header > div > h1 {
    margin: 0 0 0 50px;
    color: #FFFFFF;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #F5F6FA;
    align-items: center;
}

main > div {
    color: #2C3E50;
    align-items: center;
}
   

main h4 {
    color: #2C3E50;
}
main button {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: #3498DB;
    color: #FFFFFF;
    border: 0px;
    cursor: pointer;
    display: block;
    margin: 30px auto;
    font-size: 18px;
    font-weight: 600;
}


footer {
    margin: 0 auto;
    background-color: #34495E;
    width: 100%;
    height: 60px;
}

footer div {
    display: flex;
    justify-content: center;
}

footer p {
    margin: 15px 0;
    color: #BDC3C7;
}