main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main form {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}

main p {
    text-align: center;
    align-items: center;
    text-decoration: underline;
    text-underline-offset: 5px;
}

form input {
    border-radius: 5px;
    border-style: none;
    margin: 10px 0;
    width: 800px;
    height: 50px;
    text-align: center;
    background-color: #FFFAFA;
}

form textarea {
    border-style: none;
    border-radius: 5px;
    margin: 10px 0;
    text-align: center;
    height: 100px;
    padding-top: 35px;
    background-color: #FFFAFA;
}

.buttonArea {
    width: 800px;
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.buttonArea button {
    cursor: pointer;
    width: 100px;
    height: 30px;
    font-size: 13px;
    font-weight: 400;
    border: 0px;
    border-radius: 5px;
    color: #FFFFFF;
}

.buttonArea button:nth-child(1) {
    background-color: #C0C0C0;
}

.buttonArea button:nth-child(2) {
    background-color: #3498DB;
}


